#main-wrapper {
    margin: 0 auto;
    width: 50%;

    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

#content {
    position: relative;
    width: 100%;
}

.centered {
    text-align: center;
}

.spacer {
    margin-bottom: 10px;
}

button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    border-width: 0;
    background: #777777;

    margin: 10px auto;

    transition: 0.2s;
}

.button-add {
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
}

.button-add:hover {
    background: rgb(53, 167, 110);
}

.button-add:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

.button-action {
    background: rgb(80, 183, 199);
    box-shadow: 0 -3px rgb(35, 152, 167) inset;
}

.button-action:hover {
    background: rgb(35, 152, 167);
}

.button-action:active {
    background: rgb(18, 123, 147);
    box-shadow: 0 3px rgb(18, 123, 147) inset;
}

.button-delete {
    background: rgb(199, 81, 75);
    box-shadow: 0 -3px rgb(167, 72, 66) inset;
}

.button-delete:hover {
    background: rgb(167, 72, 66);
}

.button-delete:active {
    background: rgb(147, 64, 58);
    box-shadow: 0 3px rgb(147, 64, 58) inset;
}

.view {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #ccc;
    width: 100%;
}

.view td {
    text-align: center;
    padding: 5px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #474747;
    color: #333;
    background-color: #fff;
}

.view tr th {
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #474747;
    color: #333;
    background-color: #dcdedd;
}

#editor form {
    text-align: center;
}

input[readonly] {
    background-color: #c8c8c8;
}

table.full-width {
    margin: auto;
}